@require reset
@require typography
@require colors
@require borders
@require layout
@require spacing

// Cursors
.pointer
  cursor pointer
.default
  cursor default

// Transitions
.t-width
  transition width 0.1s
.t-height
  transition height 0.2s ease-out
.t-opacity
  transition opacity 0.6s

.card
  width 210px
  height 240px

.pic
  @extend .ib
  image '../img/pic.jpg' 131px 131px
  width 131px
  height 131px
