{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "templateStrings": true,
  },
  "globals": {
    "document": false,
    "setTimeout": false,
    "setInterval": false,
    "clearInterval": false,
    "window": false,
  },
  "rules": {
    "brace-style": [2, "1tbs", {"allowSingleLine": false}],
    "camelcase": 1,
    "comma-dangle": [2, "always-multiline"],
    "comma-style": [2, "last"],
    "curly": [2, "multi-line"],
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "func-style": [2, "declaration"],
    //"generator-star-spacing": [2, "after"],
    "indent": [2, 2],
    "key-spacing": 2,
    "no-eq-null": 2,
    "no-func-assign": 2,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "no-nested-ternary": 2,
    "no-shadow": 1,
    "no-throw-literal": 2,
    "no-underscore-dangle": 1,
    "no-unused-vars": [2, {"args": "none"}],
    "no-var": 2,
    "quotes": [2, "single"],
    "radix": 1,
    "radix": 2,
    "space-after-keywords": [2, "always"],
    "space-before-function-parentheses": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "vars-on-top": 1,
    "react/display-name": 1,
    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
    // Buggy
    //"space-in-brackets": [2, "never"],
    "no-shadow-restricted-names": 1,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
  }
}

