{
  "extends": ["stylelint-config-recommended", "stylelint-config-html"],
  "ignoreFiles": ["node_modules/*", "**/*.tsx", "**/*.ts"],
  "defaultSeverity": "warning",
  "rules": {
    "color-named": "never",
    "font-family-name-quotes": "always-where-required",
    "font-family-no-missing-generic-family-keyword": null,
    "font-weight-notation": "numeric",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "no-descending-specificity": true,
    "no-duplicate-selectors": true,
    "unit-no-unknown": true,
    "selector-pseudo-class-no-unknown": [true, {"ignorePseudoClasses": ["global"]}]
  }
}
