html
  head
    title Stefano J. Attardi: I am a web [developer, designer]
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Questrial")
  body
  script(type="text/javascript" src="js/main.js")