/* line 5, style.sass */
.reset, h1, h2, h3, h4, h5, h6, cite, blockquote {
  font-weight: normal;
  font: inherit;
  line-height: inherit;
  color: black;
  margin: 0;
}

/* line 11, style.sass */
.dim, h5, h6 {
  color: #999999;
}

/* line 13, style.sass */
.italic, h5, em {
  font-style: italic;
  font-family: "Droid Serif";
  font-size: 14px;
}

/* line 17, style.sass */
.sans, .sans code, code.sans, h3 code, h4 code, a code, strong code, a[title="Google Finance"], h3, h4, a, strong {
  font-family: "Cabin";
  font-size: 1.1em;
}

/* line 20, style.sass */
code {
  letter-spacing: 1px;
  font-family: "IM Fell French Canon SC";
  text-transform: lowercase;
  font-size: 1.3em;
}

/* line 25, style.sass */
.sans code, .sans code code, code.sans code, h3 code code, h4 code code, a code code, strong code code, a[title="Google Finance"] code, h3 code, h4 code, a code, strong code, .sans code, code.sans, h3 code, h4 code, a code, strong code, a[title="Google Finance"] {
  text-transform: none;
  font-size: 0.9em;
  letter-spacing: 1px;
}

/* line 31, style.sass */
body {
  font: 14px/28px "Merriweather", sans-serif;
  width: 600px;
  margin: 56px auto;
  color: #222222;
}

/* line 36, style.sass */
h1 {
  font-size: 35px;
  margin: 14px 0;
}

/* line 40, style.sass */
h2 {
  font-size: 21px;
  margin: 7px 0;
  line-height: inherit;
}

/* line 45, style.sass */
h3 {
  font-size: 18px;
  margin-bottom: 7px;
  margin-top: 35px;
}

/* line 52, style.sass */
h4 {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 7px;
}

/* line 59, style.sass */
h5 {
  padding: 56px 0;
}

/* line 62, style.sass */
h6 {
  margin-top: 0;
  margin-bottom: 14px;
}

/* line 66, style.sass */
p {
  margin: 0;
}

/* line 68, style.sass */
p + p {
  text-indent: 28px;
}

/* line 72, style.sass */
a {
  color: #335577;
  text-decoration: none;
  -webkit-transition-property: color, border-color;
  -webkit-transition-duration: 0.5s, 0.5s;
}

/* line 84, style.sass */
h5 a {
  font: inherit;
  color: #666666;
}

/* line 87, style.sass */
a:hover {
  color: #3399cc;
}

/* line 89, style.sass */
a:active {
  color: #ffcc00;
  -webkit-transition-duration: 0.1s, 0.1s;
}

/* line 92, style.sass */
cite, blockquote {
  color: #55bb77;
}

/* line 95, style.sass */
blockquote {
  margin-top: 7px;
}

/* line 99, style.sass */
.icon, a[title=Wikipedia], a[title=Amazon], a[title=YouTube], a[title=Twitter], a[title=Image], a[title="Google Finance"] {
  background: no-repeat url(http://en.wikipedia.org/favicon.ico) 0px 4px;
  padding-left: 14px;
}

/* line 102, style.sass */
a[title=Wikipedia] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAA3NCSVQICAjb4U/gAAAAYFBMVEX////////6+/r39/fw8fDq6+rl5uXg4ODT09PMzMzCw8K7vLu1trWtra2lpaWhoKGSk5KKioqFhoWAf4B8fXxyc3JpamlmZmZeXV5SUlJOTk5DQ0M5ODkoJyghICEJCAlgnexIAAAAIHRSTlMA/////////////////////////////////////////5KarXYAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAF3RFWHRDcmVhdGlvbiBUaW1lADIyLjEuMjAxMaswMwIAAABdSURBVAiZRc1JDoAgEETRLgZFpHFEcEDvf0uNIVq7t6h8wj8imxodnQy1W4jEOiFF08N7InCWJodaePVAHoy0ovHPB5h2jFmxeaGPjreR8QLx1O3lCuwAMVcFX/QGEckD3xnWjoEAAAAASUVORK5CYII=');
  *background-image: url(wikipedia.png);
}

/* line 105, style.sass */
a[title=Amazon] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAA3NCSVQICAjb4U/gAAAAYFBMVEX///////8AAADu7/AQEBD////e4OX/uTqDg4P/////////9eT/68b/5qr/3pTMzMz/x2Osra2ZmZmJiopoaWlmZmYzMzMpKiogISEXGBj//+v/+e//4Kf/zXP/vkeztbn1VLENAAAAIHRSTlMA/////+7///93iP///////////////////////////yewqSEAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAF3RFWHRDcmVhdGlvbiBUaW1lADIyLjEuMjAxMaswMwIAAABbSURBVAiZPclHAoAgEANAsjQVGwoC1v//UqynZBJWAdzFaQRkyQAEcoFsLhcGi4GKF8oL8YEL6iyNDzqa4Mn/T0oUbxgoV/BDrXVG3Td5nNscrJJm01rv7SLLE9+FA9VlyHd4AAAAAElFTkSuQmCC');
  *background-image: url(amazon.png);
}

/* line 108, style.sass */
a[title=YouTube] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAA3NCSVQICAjb4U/gAAAAYFBMVEX////////5EwD/AAD/mpT/hXv/fHT4Z1n/wsT/jITh4tX/NidYXl7++Oz/3dz/0c7W1qexzub/sKqxsbNae4j4Sjr/IRD/IRD5EwDBwZuxqaCTrsuYnIN8npyWj7WPhnc3kvLIAAAAIHRSTlMA/////////////////////////////2Zm/////////8Rj9skAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAF3RFWHRDcmVhdGlvbiBUaW1lADIyLjEuMjAxMaswMwIAAABgSURBVAiZHcpJEoUgDADRQCbAKM76B/X+txTo3atqgP65f64FAO5r6ZmWpW8Y7WPr31JDupxN49q2HKMwC0so6ILiHhFxL8BIQpll2CoozIHmgboCr0rKunHF4T362gkvGOMD2mW8mNUAAAAASUVORK5CYII=');
  *background-image: url(youtube.png);
}

/* line 111, style.sass */
a[title=Twitter] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAA3NCSVQICAjb4U/gAAAAYFBMVEX///8im84hl8oYlckdjb3///8vjrhEps8gk8V5mKf///+r1eh3uth3uthms9RAkbRQrNEvjrgfgq3///+4xcnu5OC41+RAkbT///+41+Rko75XnbnE4u2OvdEjeJ3r9Pi9lx8wAAAAIHRSTlMA/////yLd7v8RM5mZzN3d7v//EREiMzNEREREVVVVZgHJDmwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAF3RFWHRDcmVhdGlvbiBUaW1lADIyLjEuMjAxMaswMwIAAABjSURBVAiZJY1JFoAgDEPbUgoK4jwP3P+WFs0iL/lZBODXHRf14xnV4yB3QU5kPnvidiqQWcQj8rkD2ETeEyL1Uaer04jGhQvWqopaDBWe2oHJGGysljok57om2P9vyznXX3oBBGID57evp68AAAAASUVORK5CYII=');
  *background-image: url(twitter.png);
}

/* line 114, style.sass */
a[title=Image] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAA3NCSVQICAjb4U/gAAAAYFBMVEX///93pehcluH+ko5MjN6Kser+e3f+bGiIvY12t3GCqavMk6nNfJgoZtqWS4QxWHsgP8b+LyoASdClzqqlw/D+nZpYmVL4UFJGhEIvct7+bGh3pehMjN42fuEoZtoAQqIJTMqBAAAAIHRSTlMA/////////////////////xEz/////////xEzMzMzM8p33g4AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAF3RFWHRDcmVhdGlvbiBUaW1lADIyLjEuMjAxMaswMwIAAABfSURBVAiZJcdZFoIwEAXRfj0QMikICmHQ/e/S5KS+6hIRnQD4ot5t64pvu2OeL5jxq2EQSWymHW+JDOivw0UFivf+Q05cLMw5LEvDlopqDn7caZMhZdYpjBWP2lR71v73zARz0tm4bQAAAABJRU5ErkJggg==');
  *background-image: url(image.png);
}

/* line 117, style.sass */
a[title="Google Finance"] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAA3NCSVQICAjb4U/gAAAAYFBMVEX///9h132mq6xm3IKTp5jV6e194paztbXw9v3e7/J14JBx4Is7w1vk7/Gg3rKNppP////s9ves2sqftKSis6aXsJ2GrI0pvEucoqOWpJmWpJmcoqPP6OSKzrN0z5OtsbJa3HnlAAAAIHRSTlMA//////////////////////////////9mZneI/////2EUmykAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAF3RFWHRDcmVhdGlvbiBUaW1lADIyLjEuMjAxMaswMwIAAABcSURBVAiZLctJFoAgDETBRAwyBBGc5/vfUsLzr7oWDXA2fxsAvNaGYInupaAjCslcmSssmaFnxlGQyl6V17PA5J6VQj0JnpURf0R2XhU4+bSI3jun6+eIsa3t8AES0AQUnrvRpQAAAABJRU5ErkJggg==');
  *background-image: url(finance.png);
  background-position: 1px 2px;
}
