---
import BaseHead from '../components/BaseHead.astro';
import Title from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
import Button from '../components/Button.svelte';
import {HomeIcon} from 'astro-feather';
import IconLink from '../components/IconLink.astro';
---

<style>
  .not-found {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .subtitle {
    margin-top: calc(var(--unit) / 2);
    margin-bottom: calc(var(--unit) * 2);
  }
</style>
<html lang="en">
  <head>
    <BaseHead
      title="Stefano J. Attardi: Engineering Manager at Coinbase"
      description="Engineering Manager at Coinbase. Former UI engineer and designer, specializing in React, React performance, and GraphQL. Previously at Facebook and Storehouse. Winner of the first Node.js Knockout with Swarmation.com."
    />
  </head>
  <body>
    <div class="not-found">
      <Title>Not Found</Title>
      <Subtitle class="subtitle">There’s nothing here.</Subtitle>
      <IconLink href="/"><HomeIcon /></IconLink>
    </div>
  </body>
</html>
