---
import {getCollection} from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Title from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
import Link from '../components/Link.astro';
import Heading from '../components/Heading.astro';
import DateView from '../components/DateView.astro';
import NewTag from '../components/NewTag.astro';
import ProjectRow from '../components/ProjectRow.astro';
import EmailIconLink from '../components/EmailIconLink.svelte';
import ProtectedEmailProvider from 'src/components/ProtectedEmailProvider.svelte';
import {
  MessageCircleIcon,
  GithubIcon,
  LinkedinIcon,
  CloudIcon,
  XIcon,
  MailIcon,
} from 'astro-feather';
import IconLink from '../components/IconLink.astro';

const articles = (await getCollection('articles')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<style>
  header {
    padding-top: calc(var(--unit) * 2);
    padding-bottom: calc(var(--unit) * 2);
    text-align: center;
  }
  .subtitle {
    margin-top: var(--unit);
    margin-bottom: var(--unit);
  }
  .heading {
    margin-top: var(--unit);
  }

  .article-heading {
    margin-top: var(--unit);
    margin-bottom: calc(var(--unit) / 4);
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--unit);

    @media (max-width: 490px) {
      display: block;
    }
  }

  .projects-heading {
    grid-column: 1/3;
    margin-top: calc(var(--unit) * 2);
  }

  .code-heading {
    grid-column: 1/3;
    margin-top: calc(var(--unit) * 2);
  }

  nav {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--unit) * 1);
  }

  .icon-link {
    padding: var(--unit);
  }
</style>

<html lang="en">
  <head>
    <BaseHead
      title="Stefano J. Attardi: Engineering Manager at Coinbase"
      description="Engineering Manager, Developer Experience at Coinbase. Former UI engineer and designer, specializing in React, React performance, and GraphQL. Previously at Facebook and Storehouse. Winner of the first Node.js Knockout with Swarmation.com."
    />
  </head>
  <body>
    <main>
      <ProtectedEmailProvider siteKey="0x4AAAAAAACiX56uiMszpvqE" endpoint="/email" client:load />
      <header>
        <Title>Stefano J. Attardi</Title>
        <Subtitle class="subtitle">
          Sr. Engineering Manager, Developer Experience at <Link href="https://coinbase.com/"
            >Coinbase</Link
          >
        </Subtitle>
        <nav class="sansBold s">
          <EmailIconLink client:load>
            <MailIcon size={18} />
          </EmailIconLink>
          <IconLink rel="me" href="https://threads.net/steadicat" label="Threads">
            <MessageCircleIcon size={18} />
          </IconLink>

          <IconLink rel="me" href="https://bsky.app/profile/steadicat.bsky.social" label="Bluesky">
            <CloudIcon size={18} />
          </IconLink>

          <IconLink rel="me" href="https://twitter.com/steadicat" label="X">
            <XIcon size={18} />
          </IconLink>

          <IconLink rel="me" href="https://github.com/steadicat" label="GitHub">
            <GithubIcon size={18} />
          </IconLink>

          <IconLink rel="me" href="https://linkedin.com/in/attardi" label="Linkedin">
            <LinkedinIcon size={18} />
          </IconLink>
        </nav>
      </header>
      <section class="articles">
        <Heading class="heading">Writing</Heading>
        {
          articles.map(({slug, data: {title, date}}) => (
            <>
              <Heading class="article-heading">
                <Link href={slug}>{title}</Link>{' '}
                {Date.now() - new Date(date).valueOf() < 7 * 24 * 60 * 60 * 1000 && <NewTag />}
              </Heading>
              <DateView date={new Date(date)} />
            </>
          ))
        }
      </section>
      <section class="projects">
        <Heading class="projects-heading">Projects</Heading>
        <ProjectRow
          url="https://itunes.apple.com/app/movement-watch-tracker/id1329445157"
          title="Movement"
          description="iOS app to set and track mechanical watches."
        />
        <ProjectRow
          url="https://thecapturedproject.com/"
          title="Captured"
          description="People in prison drawing people who should be."
        />
        <ProjectRow
          url="https://swarmation.com/"
          title="Swarmation"
          description="An in-browser real-time multiplayer game, winner of the 2010 Node.js Knockout."
        />
        <ProjectRow
          url="https://justpickthis.com/"
          title="Just Pick This"
          description="A minimal product review site."
        />
        <Heading class="code-heading">Code</Heading>
        <ProjectRow
          url="https://github.com/steadicat/grindelwald"
          title="Grindelwald"
          description="Tiny functional reactive programming library with (maybe too much) dark magic."
        />
        <ProjectRow
          url="https://github.com/steadicat/react-rebound"
          title="React Rebound"
          description="High-performance spring-based animations for React."
        />
        <ProjectRow
          url="https://github.com/steadicat/vectorinox"
          title="Vectorinox"
          description="A swiss-army knife for converting and processing SVG files."
        />
      </section>
    </main>
  </body>
</html>
