---
type Props = {
  date: Date;
};

const {date} = Astro.props;
---

<style>
  h3 {
    margin-bottom: 0;
    color: var(--gray);
    margin-top: calc(var(--unit) / 2);
  }
</style>

<h3 class="sansRegular xs">
  {
    date.toLocaleDateString('en-us', {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
    })
  }
</h3>
