---
type Props = {
  id?: string;
  class?: string;
  style?: string;
};

const {id, class: className, style} = Astro.props;
---

<h2 id={id} class:list={['serifBold', 'l', className]} style={style}>
  <slot />
</h2>
