---
---

<style>
  .new {
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
    border-radius: 3px;
    padding: 0 4px 1px 5px;
    vertical-align: middle;
  }
</style>

<span class="new sansRegular xs">
  <span class="sansCaps">NEW</span>
</span>
