---
type Props = {
  id?: string;
  class?: string;
  style?: string;
};

const {id, class: className, style} = Astro.props;
---

<div id={id} class:list={['serifBold', 'xl', className]} style={style}>
  <slot />
</div>
