h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --sans: Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --serif: 'Zilla Slab', 'Lucida Bright', serif;
  --mono: 'PT Mono', 'SF Mono', Consolas, Monaco, monospace;

  --unit: 18px;

  --maxColumn: calc(var(--unit) * 36);
  --mobileMargin: var(--unit);
  --sidebarWidth: calc(var(--unit) * 14);

  --textColor: #2d2d2d;
  --accentColor: #ffcc00;

  --linkColor: #6bd;
  --hoverLinkColor: #6cf;
  --activeLinkColor: var(--accentColor);

  --gray: #999;
  --grayDisabled: #ddd;
  --darkerGrayBackground: #f0f0f0;
  --grayBackground: #f7f7f7;

  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColor: #e2e2e2;
    --accentColor: #ffcc00;

    --linkColor: rgb(55, 165, 208);
    --hoverLinkColor: rgb(44, 185, 255);
    --activeLinkColor: var(--accentColor);

    --gray: #969696;
    --grayDisabled: #f7f7f7;
    --darkerGrayBackground: #515151;
    --grayBackground: #363636;

    --white: #212121;
  }
}

html {
  max-width: 648px;
  padding: 18px;
  margin: 18px auto;
  margin-bottom: 72px;
  background: var(--white);
  color: var(--textColor);
}

.serifRegular {
  font-family: var(--serif);
  font-weight: 300;
}
.serifMedium {
  font-family: var(--serif);
  font-weight: 500;
}
.sansRegular {
  font-family: var(--sans);
  font-weight: 300;
}
.sansBold {
  font-family: var(--sans);
  font-weight: 500;
}

.sansCaps {
  /* sansMedium */
  font-size: 78%;
  letter-spacing: 1px;
  padding-left: 1px;
  padding-right: 1px;
  line-height: 1;
}
.sansBoldCaps {
  /* sansExtraBold */
  font-size: 78%;
  letter-spacing: 1px;
  padding-left: 1px;
  padding-right: 1px;
  line-height: 1;
}
.serifCaps {
  /* serifMedium */
  font-size: 76%;
  letter-spacing: 1px;
  padding-left: 1px;
  padding-right: 1px;
  line-height: 1;
}

.xl {
  font-size: 36px;
  line-height: calc(var(--unit) * 2.5);
}
.l {
  font-size: 28px;
  line-height: calc(var(--unit) * 2);
}
.m {
  font-size: 22px;
  line-height: calc(var(--unit) * 1.5);
}
.s {
  font-size: 17px;
  line-height: calc(var(--unit) * 1.5);
}
.xs {
  font-size: 12px;
  line-height: var(--unit);
}
